# 10 point Inspection

In [7]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)

print("Libraries imported successfully!")
print(f"pandas version: {pd.__version__}")
print(f"numpy version: {np.__version__}")

Libraries imported successfully!
pandas version: 2.2.2
numpy version: 2.0.2

In [8]:
df = pd.read_csv('Anesthesia_Dataset.csv')
print ("Dataset loaded successfully")

Dataset loaded successfully

In [9]:
df['SurgeryType'] = df['SurgeryType'].str.title()
df.head()

,PatientID,Age,Gender,BMI,SurgeryType,SurgeryDuration,AnesthesiaType,PreoperativeNotes,PostoperativeNotes,PainLevel,Complications,Outcome
0,1,33,M,32,Neurological,217 min,Local,"Hypertension, diabetes","Minimal pain, no complications",7,NaN,0
1,2,33,M,23,Cardiovascular,181 min,Local,"Stable, no allergies","Minimal pain, no complications",7,"Nausea, mild bleeding",1
2,3,58,F,24,Orthopedic,79 min,General,"Stable, no allergies","Minimal pain, no complications",3,"Nausea, mild bleeding",1
3,4,65,F,26,Orthopedic,210 min,Local,"Stable, no allergies","Pain, slow recovery",7,Delayed recovery,1
4,5,65,M,28,Neurological,221 min,General,"Stable, no allergies","Pain, slow recovery",5,Respiratory distress,0

In [10]:
df.shape

(300, 12)

In [11]:
df.columns

Index(['PatientID', 'Age', 'Gender', 'BMI', 'SurgeryType', 'SurgeryDuration',
       'AnesthesiaType', 'PreoperativeNotes', 'PostoperativeNotes',
       'PainLevel', 'Complications', 'Outcome'],
      dtype='object')

In [12]:
df.dtypes

PatientID              int64
Age                    int64
Gender                object
BMI                    int64
SurgeryType           object
SurgeryDuration       object
AnesthesiaType        object
PreoperativeNotes     object
PostoperativeNotes    object
PainLevel              int64
Complications         object
Outcome                int64
dtype: object

In [13]:
df.head()

,PatientID,Age,Gender,BMI,SurgeryType,SurgeryDuration,AnesthesiaType,PreoperativeNotes,PostoperativeNotes,PainLevel,Complications,Outcome
0,1,33,M,32,Neurological,217 min,Local,"Hypertension, diabetes","Minimal pain, no complications",7,NaN,0
1,2,33,M,23,Cardiovascular,181 min,Local,"Stable, no allergies","Minimal pain, no complications",7,"Nausea, mild bleeding",1
2,3,58,F,24,Orthopedic,79 min,General,"Stable, no allergies","Minimal pain, no complications",3,"Nausea, mild bleeding",1
3,4,65,F,26,Orthopedic,210 min,Local,"Stable, no allergies","Pain, slow recovery",7,Delayed recovery,1
4,5,65,M,28,Neurological,221 min,General,"Stable, no allergies","Pain, slow recovery",5,Respiratory distress,0

In [14]:
df.tail()

,PatientID,Age,Gender,BMI,SurgeryType,SurgeryDuration,AnesthesiaType,PreoperativeNotes,PostoperativeNotes,PainLevel,Complications,Outcome
295,296,33,M,23,Neurological,187 min,General,"Stable, no allergies","Pain, slow recovery",6,"Nausea, mild bleeding",0
296,297,33,M,26,Orthopedic,71 min,Local,"Stable, no allergies","Pain, slow recovery",6,"Nausea, mild bleeding",0
297,298,65,M,32,Cardiovascular,63 min,Local,"Stable, no allergies","Pain, slow recovery",2,Respiratory distress,1
298,299,58,F,23,Orthopedic,123 min,Local,"Stable, no allergies","Pain, slow recovery",5,Respiratory distress,0
299,300,33,F,23,Neurological,135 min,General,"Stable, no allergies","Minimal pain, no complications",4,"Nausea, mild bleeding",1

In [15]:
df.memory_usage()

Index                  132
PatientID             2400
Age                   2400
Gender                2400
BMI                   2400
SurgeryType           2400
SurgeryDuration       2400
AnesthesiaType        2400
PreoperativeNotes     2400
PostoperativeNotes    2400
PainLevel             2400
Complications         2400
Outcome               2400
dtype: int64

In [16]:
df.isnull().sum()

PatientID              0
Age                    0
Gender                 0
BMI                    0
SurgeryType            0
SurgeryDuration        0
AnesthesiaType         0
PreoperativeNotes      0
PostoperativeNotes     0
PainLevel              0
Complications         73
Outcome                0
dtype: int64

In [17]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
295    False
296    False
297    False
298    False
299    False
Length: 300, dtype: bool

In [18]:
df.describe()

        PatientID         Age         BMI   PainLevel     Outcome
count  300.000000  300.000000  300.000000  300.000000  300.000000
mean   150.500000   54.246667   27.056667    4.496667    0.500000
std     86.746758   12.841163    3.091707    1.646925    0.500835
min      1.000000   33.000000   23.000000    2.000000    0.000000
25%     75.750000   45.000000   24.000000    3.000000    0.000000
50%    150.500000   58.000000   26.000000    4.000000    0.500000
75%    225.250000   65.000000   30.000000    6.000000    1.000000
max    300.000000   72.000000   32.000000    7.000000    1.000000

In [19]:
df.nunique()

PatientID             300
Age                     6
Gender                  2
BMI                     6
SurgeryType             4
SurgeryDuration       139
AnesthesiaType          2
PreoperativeNotes       2
PostoperativeNotes      2
PainLevel               6
Complications           3
Outcome                 2
dtype: int64

# Answering Questions

In [20]:
df['Age'].describe()
df['Age'].value_counts().sort_index()

Age
33    49
45    50
51    45
58    53
65    54
72    49
Name: count, dtype: int64

In [21]:
df['SurgeryDuration'] = df['SurgeryDuration'].str.replace(' min', '')
df['SurgeryDuration'] = df['SurgeryDuration'].astype(int)

df['SurgeryDuration'].describe()

count    300.000000
mean     147.700000
std       51.558357
min       60.000000
25%      101.750000
50%      148.500000
75%      190.500000
max      240.000000
Name: SurgeryDuration, dtype: float64

In [22]:
df['Complications'].value_counts(dropna=False)

Complications
Respiratory distress     83
Nausea, mild bleeding    80
NaN                      73
Delayed recovery         64
Name: count, dtype: int64

In [23]:
df['age_group'] = pd.cut(
    df['Age'],
    bins=[18, 40, 55, 65, 75],
    labels=['Young Adult', 'Middle Adult', 'Mature Adult', 'Senior'],
    include_lowest=True
)

df['age_group'].value_counts()

age_group
Mature Adult    107
Middle Adult     95
Young Adult      49
Senior           49
Name: count, dtype: int64

In [24]:
df.groupby('age_group')['Outcome'].mean()

/tmp/ipython-input-3384977460.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('age_group')['Outcome'].mean()

age_group
Young Adult     0.591837
Middle Adult    0.400000
Mature Adult    0.532710
Senior          0.530612
Name: Outcome, dtype: float64

In [28]:
df.groupby('SurgeryType')['PainLevel'].mean()

SurgeryType
Cardiovascular    4.460526
Cosmetic          4.500000
Neurological      4.515152
Orthopedic        4.512821
Name: PainLevel, dtype: float64